p {
    margin: 0;
    color: #c78b3b;
    font-family: "chunkfiveex";
    font-size: 150%;
}

.button-nav {
    border: 0;
    border-radius: 0px;
    position: relative;
}

.button-nav:hover {
    border-bottom: 2px solid;
    padding-bottom: 0.3vh;
    background-color: unset;
}