p {
    margin: 0;
    color: white;
}

.button-nav {
    border: 0;
    border-radius: 0px;
    position: relative;
}

.button-nav:hover {
    border-bottom: 2px solid;
    padding-bottom: 0.3vh;
    background-color: unset;
}