#info-barbeiro {
    width: auto;
    height: min-content;
    position: relative;
    text-align: justify;
    margin: 0;
    margin-right: 10vw;
    margin-top: 10vh;
    padding-left: 15vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #262322cb;
}

#info-barbeiro::before {
    content: "";
    position: absolute;
    width: 8%;
    border: 1px;
    top: 4vh;
    border-style: solid;
    background: transparent;
    border-color: white;
}

#info-barbeiro h2 {
    text-transform: uppercase;
    color: #c78b3b;
    font-family: "chunkfiveex";
}

#info-barbeiro p {
    font-size: 125%;
    color: #c78b3b;
    font-family: "lato";
}