h1{
    font-family: "chunkfiveex";
    color: white;
}

#card{
    background-color: transparent;
    margin: 1vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#card .box-card{
    background-color: #262322d7;
}