h1{
    font-family: "chunkfiveex";
    color: #c78b3b;
}

#card{
    background-color: transparent;
    display: block;
    width: 100%;
    margin: 1vw;
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#card .box-card{
    background-color: #262322d7;
}

#card .box-card #info-card{
    font-family: "chunkfiveex";
    color: white;
}