#box-carrosel {
    position: relative;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

#divisao-carrosel {
    position: relative;
    justify-content: center;
    display: flex;
    border-radius: 0;
    margin: 0;
    padding: 2vh;
    background-color: #262322;
}
.imgCarrosel{
    width: 100%;
    height: 100%;
}