#box-div-inicial {
    display: flex;
    border-radius: 0;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    background-color: rgb(68, 68, 68);
}

#box-lateral {
    width: 10%;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url('../image/textura-de-madeira-velha-vintage-padrao-de-madeira-marrom-escuro-para-o-fundo_49947-77.jpg');
    background-size: 400%;
}

#box-central{
    border-radius: 0;
    margin: 0;
    width: 79%;
    background-image: url('../image/metal-camouflage-texture-4k-gray-metal-texture-metal-textures-metal-backgrounds.jpg');
    background-size: cover;
}

#box-circulo {
    border-radius: 100%;
    width: 25vw;
    height: 50vh;
    background-color: white;
}