#box-divisoria {
    position: relative;
    display: flex;
    border-radius: 0;
    padding: 0;
    padding-top: 5vh;
    margin: 0;
    background-image: url('../image/drive-download-20200204T174718Z-001/fundo-400.svg');
    background-size: cover;
}

#box-divisoria #box-info-servico {
    position: relative;
    display: flex;
    height: 100%;
    border-radius: 0;
    align-items: center;
    margin: 0;
    margin-top: 2vh;
    padding: 0;
    padding-top: 10vh;
    background-color: transparent;
}

#box-divisoria #box-card-servico {
    display: flow-root;
    border-radius: 0;
    padding: 5vh;
    padding-top: 0;
    padding-bottom: 0;
    margin: 5vh;
    background-color: transparent;
}

#box-divisoria #box-card-servico .carousel-indicators, #box-divisoria #box-card-servico .carousel-control-prev, #box-divisoria #box-card-servico .carousel-control-next{
    visibility: hidden;
}