#box-super-header {
    position: fixed;
    display: flex;
    height: auto;
    overflow: hidden;
    top: 0;
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-bottom: 5vw;
    border-radius: 0;
    justify-content: space-around;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(46, 46, 46), rgba(110, 110, 110, 0.550));
    transition: 0.5s;
}

#box-super-header:hover{
    background: rgba(122, 121, 121, 0.527);
    background-image: linear-gradient(180deg, rgb(46, 46, 46), rgba(65, 65, 65, 0.580))
}

#box-super-header #box-nav {
    position: relative;
    display: flex;
}

#box-super-header #box-nav #box-logo{
    position: relative;
    padding: 0;
    margin-right: 30vw;
    width: 10vw;
}

#box-super-header #box-nav #box-logo img {
    width: 8vw;
}

#box-super-header #box-nav .box-nav-link {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}







/* #box-super-header {
    position: relative;
    display: flex;
    margin: 0;
    margin-bottom: 10vh;
    padding: 0;
    padding-top: 3vh;
    padding-bottom: 3vh;
    border-radius: 0;
    align-content: space-between;
    background-color: transparent;
    background-image: linear-gradient(180deg, rgb(110, 110, 110), rgba(110, 110, 110, 0.550));
    transition: 0.5s;
}

#box-super-header:hover{
    background: rgba(122, 121, 121, 0.527);
    background-image: linear-gradient(180deg, rgb(122, 121, 121), rgba(65, 65, 65, 0.580))
}
#box-super-header .container{
    margin: 0;
}

#box-super-header #box-nav {
    padding: inherit;
}

#box-super-header #box-nav .header-brand {
    margin: 0;
}

#box-super-header #box-nav .header-brand img {
    width: 10rem;
}

#box-super-header #box-nav .box-nav-link {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 30vw;
} */
