p {
    margin: 0;
}

#logoNav {
    width: 3rem;
}

.header-brand {
    margin: 0;
}

#box-header {
    position: relative;
    display: flex;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background-color: rgb(209, 61, 61);
    background-image: linear-gradient( to bottom, rgb(209, 61, 61) 55%, rgb(0, 0, 0) 200%);
}

#box-nav {
    padding: inherit;
    justify-content: center;
}

.box-nav-link {
    display: flex;
    margin: 0;
    padding: 0;
    padding-left: 30vw;
}

#rodape-nav {
    border-radius: 0px 0px 3px 3px;
    width: 100vw;
    padding: 0.7vh;
    margin: 0;
    margin-bottom: 10vh;
    box-shadow: 0px 9px 32px 0px rgb(0, 0, 0);
    background-image: linear-gradient( 125deg, rgb(218, 165, 32), rgb(253, 231, 106), rgb(218, 165, 32), rgb(253, 231, 106), rgb(218, 165, 32), rgb(253, 231, 106), rgb(218, 165, 32)100%);
}